{% extends 'base.html' %}

{% block head_title %}{% endblock head_title %}
{% block content %}

<div class="row">
    <div class="col">
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea required="required" name="content" id="content" class="form-control" placeholder="Your tweeet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>

        </form>
    </div>
</div>

<div class="row" id="tweets"></div>

<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            if (xhr.status === 201) {
                const newTweetJSON = xhr.response
                const newTweetElement = formatTweetElement(newTweetJSON)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()

            }
            
            
        }
        xhr.send(myFormData)

    }
    const tweetCreateFormEl = document.getElementById('tweet-create-form')
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)
    const tweetsContainerElement = document.getElementById('tweets')
    function loadTweets(tweetsContainerElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            var listedItems = serverResponse.response
            var finalTweetStr = ""
            var i;
            for (i=0;i<listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsContainerElement.innerHTML = finalTweetStr
    }
    xhr.send()

    }
    

    loadTweets(tweetsContainerElement)

    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function handleDidLike(tweet_id, currentCount) {
        return "<button class='btn btn-primary>Like</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto  border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
        +"'><p>" + tweet.content + "</p><div class='btn-group'>" + likeBtn(tweet) +
            "</div></div>"
        return formattedTweet
    }

</script>
{% endblock content %}
